.contact-us-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 40px;
    margin-left: 5px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 15px;
    border: 1px solid #545358;
    border-radius: 5px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

input,
textarea {
    width: 250%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.button {
    background-color: #1c1c1d;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.success-message {
    color: #3f51b5;
    margin-top: 20px;
}